.container
  .logo
    %img(class="logo" src="logo.png")
  .cat
    %a(href="http://sumeau.bandcamp.com/" target="_blank")
      %img(class="cat" src="luckycat_small.png")
  .video
    .video-wrapper
      %iframe(id="videoDiv" src="http://www.youtube.com/embed/HNLngln3SQU?&autoplay=1&loop=1&playlist=HNLngln3SQU&controls=0&autohide=1&rel=0&enablejsapi=1&showinfo=0" frameborder="0" allowfullscreen="1" title="YouTube video player" width="1530" height="860")

  .links
    %iframe(allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fsumeau&color=orange_white&size=32" style="width: 32px; height: 32px;")

    %a(href="https://www.facebook.com/sumeau" target="_blank")
      %img(class="facebook" src="facebook.png")



